EJERCICIO 1

In [3]:
def dpar(M):
    dict_pares={}
    for par in M:
        if par%2==0:
            if par in dict_pares:
                dict_pares[par]+=1
            else:
                dict_pares[par]=1
    return dict_pares

In [5]:
M = [12, 19, 19, 18, 18, 16, 18, 13, 19, 18, 12, 18, 11, 20, 14, 14, 20, 20, 20, 16, 13, 15, 19, 14, 12]
print(dpar(M))

{12: 3, 18: 5, 16: 2, 20: 4, 14: 3}

EJERCICIO 2

In [16]:
def TempMaxMin(lst):
    dict_ciudades={}
    for ciudades in lst:
        conteo=0
        for temperaturas in ciudades:
            if conteo>1:
                if temperaturas>max:
                    max=temperaturas
                if temperaturas<min:
                    min=temperaturas
            elif conteo==1:
                max=temperaturas
                min=temperaturas
            conteo+=1
        dict_ciudades[ciudades[0]]=[max, min]
    return dict_ciudades

In [17]:
lst_ciudad = [['Londres', 3.4, 6.3, 10.5, 6.8], ['Oslo', -3.8, -5.0, 5.1, 4.2],
['Berlin', 7.5, 4.1, 12.3, 13.0], ['Málaga', 14.7, 12.3, 19.5, 18.4]]
TempMaxMin(lst_ciudad)

{'Londres': [10.5, 3.4],
 'Oslo': [5.1, -5.0],
 'Berlin': [13.0, 4.1],
 'Málaga': [19.5, 12.3]}

EJERCICIO 3

In [1]:
def PersMayTemp(dPersC, dCiudT):
    lista_nombres=[]
    for clave_temperatura in dCiudT:
        if dCiudT[clave_temperatura]<0:
            for clave_persona in dPersC:
                if dPersC[clave_persona]==clave_temperatura:
                    lista_nombres.append(clave_persona)
    if not lista_nombres:
        return ""
    lista_ordenada=sorted(lista_nombres)
    return lista_ordenada

In [2]:
dCi = {'Manchester': 1.1, 'Madrid': -8.9, 'Gava': 4, \
'Pobla de Segur': -5.6, 'Lleida': -3.2, 'Elche': 2.1, \
'Burgos': -6.0, 'Sant Boi': 4.5}
dPe = {'Pepe': 'Manchester', 'Lionel': 'Gava', 'Mike': 'Sant Boi', \
'Puyol': 'Pobla de Segur', 'Jaime': 'Elche', 'Sergi': 'Lleida',\
'Ernesto': 'Madrid', 'Carlos': 'Burgos'}
PersMayTemp(dPe, dCi)

['Carlos', 'Ernesto', 'Puyol', 'Sergi']

EJERCICIO 4

In [ ]:
def lst_hiper(dic, edad):
    lista_nombres=[]
    for nombre, (edadp, sis, dias) in dic.items():
        if edadp<edad:
            if sis>=140 or dias>=90:
                lista_nombres.append(nombre)
    return sorted(lista_nombres)

In [6]:
dpers = {'Maria': [40, 135, 90],'Nuria': [63, 141, 92], \
'Jose': [47, 110, 59], 'Luis': [49, 146, 94], \
'Oriol': [52, 130, 89], 'Carlos': [65, 125, 89], \
'Pepe': [70, 130, 92] }
lst_hiper(dpers, 45)

['Maria']

In [41]:
lst_hiper(dpers, 70)

['Maria', 'Nuria', 'Jose', 'Luis', 'Oriol', 'Carlos']

EJERCICIO 5

In [7]:
def nivelKsang(dK, lst):
    dict_p={}
    for persona, K in dK.items():
        if K<lst[0]:
            dict_p[persona]="hipokalemia crítica"
        elif K<lst[1]:
            dict_p[persona]="hipokalemia leve"
        elif K<=lst[2]:
            dict_p[persona]="normal"
        elif K<=lst[3]:
            dict_p[persona]="hiperkalemia moderada"
        elif K>lst[3]:
            dict_p[persona]="hiperkalemia severa"
    return dict_p

In [8]:
dK1 = {'Luis': 2.2, 'Carlos': 7.0, 'Laia': 4.0, 'Mikel': 5.5, 'Jordi': 5.2, 'Anna': 3.6, 'Joe': 7.2}
ls1 = [2.0, 3.5, 5.2, 7.0]
dic = nivelKsang(dK1, ls1)
print(dic)

{'Luis': 'hipokalemia leve', 'Carlos': 'hiperkalemia moderada', 'Laia': 'normal', 'Mikel': 'hiperkalemia moderada', 'Jordi': 'normal', 'Anna': 'normal', 'Joe': 'hiperkalemia severa'}

EJERCICIO 6

a)

In [ ]:
import pandas as pd
lst_ciudad = [['Londres', 3.4, 6.3, 10.5, 6.8], ['Oslo', -3.8, -5.0, 5.1, 4.2],
['Berlin', 7.5, 4.1, 12.3, 13.0], ['Málaga', 14.7, 12.3, 19.5, 18.4]]
Temperaturas_ciudades= pd.DataFrame(lst_ciudad, columns=["Ciudad", "Enero", "Febrero", "Marzo", "Abril"])
print(Temperaturas_ciudades)

    Ciudad  Enero  Febrero  Marzo  Abril
0  Londres    3.4      6.3   10.5    6.8
1     Oslo   -3.8     -5.0    5.1    4.2
2   Berlin    7.5      4.1   12.3   13.0
3   Málaga   14.7     12.3   19.5   18.4

b)

In [64]:
Temperaturas_ciudades["Min"]=Temperaturas_ciudades.iloc[:, 1:5].min(axis=1)
Temperaturas_ciudades["Max"]=Temperaturas_ciudades.iloc[:, 1:5].max(axis=1)
Temperaturas_ciudades["Media"]=Temperaturas_ciudades.iloc[:, 1:5].mean(axis=1)
Temperaturas_ciudades["StdDev"]=Temperaturas_ciudades.iloc[:, 1:5].std(axis=1)
print(Temperaturas_ciudades)

    Ciudad  Enero  Febrero  Marzo  Abril   Min   Max   Media    StdDev
0  Londres    3.4      6.3   10.5    6.8   3.4  10.5   6.750  2.914904
1     Oslo   -3.8     -5.0    5.1    4.2  -5.0   5.1   0.125  5.260783
2   Berlin    7.5      4.1   12.3   13.0   4.1  13.0   9.225  4.201091
3   Málaga   14.7     12.3   19.5   18.4  12.3  19.5  16.225  3.326034

EJERCICIO 7

In [1]:
import pandas as pd
df=pd.read_csv("heart.csv")

a)

In [3]:
print(df.head(10))

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   63    1   3       145   233    1        0      150      0      2.3      0
1   37    1   2       130   250    0        1      187      0      3.5      0
2   41    0   1       130   204    0        0      172      0      1.4      2
3   56    1   1       120   236    0        1      178      0      0.8      2
4   57    0   0       120   354    0        1      163      1      0.6      2
5   57    1   0       140   192    0        1      148      0      0.4      1
6   56    0   1       140   294    0        0      153      0      1.3      1
7   44    1   1       120   263    0        1      173      0      0.0      2
8   52    1   2       172   199    1        1      162      0      0.5      2
9   57    1   2       150   168    0        1      174      0      1.6      2

   ca  thal  target
0   0     1       1
1   0     2       1
2   0     2       1
3   0     2       1
4   0     2       1
5   0     1       1
6   0     2       1
7   0     3       1
8   0     3       1
9   0     2       1

b)

In [7]:
hombres=len(df[df["sex"]==1])
mujeres=len(df[df["sex"]==0])
print(hombres)
print(mujeres)

207
96

c)

In [9]:
anginasi=len(df[df["exang"]==1])
print(anginasi)

99

d)

In [10]:
estdescr=df["thalach"].describe()
print(estdescr)

count    303.000000
mean     149.646865
std       22.905161
min       71.000000
25%      133.500000
50%      153.000000
75%      166.000000
max      202.000000
Name: thalach, dtype: float64

e)

In [14]:
arter=df[["trestbps", "chol"]].describe()
print(arter)

         trestbps        chol
count  303.000000  303.000000
mean   131.623762  246.264026
std     17.538143   51.830751
min     94.000000  126.000000
25%    120.000000  211.000000
50%    130.000000  240.000000
75%    140.000000  274.500000
max    200.000000  564.000000

EJERCICIO 8

In [53]:
import pandas as pd
dhiper = {'Maria': [40, 135, 90],'Nuria': [63, 141, 92], 'Jose': [47, 110, 59], 'Luis': [49, 146, 94], 'Oriol': [52, 130, 89], 'Carlos': [65, 125, 89], 'Pepe': [70, 130, 92]}
listadedatos=[[nombre]+datos for nombre, datos in dhiper.items()]
Datos_arteriales= pd.DataFrame(listadedatos, columns=["Nombre", "Edad", "Sistólica", "Diastólica"])

def lst_hiper(dic):
    lista_nombres=[]
    for nombre, (edadp, sis, dias) in dic.items():
        if sis>=140 or dias>=90:
            estado="alta"
            lista_nombres.append(estado)
        elif sis<90 or dias<60:
            estado="baja"
            lista_nombres.append(estado)
        else:
            estado="normal"
            lista_nombres.append(estado)
    return lista_nombres

lista_nombres= lst_hiper(dhiper)

Datos_arteriales["Diagnóstico"]=lista_nombres
print(Datos_arteriales)

   Nombre  Edad  Sistólica  Diastólica Diagnóstico
0   Maria    40        135          90        alta
1   Nuria    63        141          92        alta
2    Jose    47        110          59        baja
3    Luis    49        146          94        alta
4   Oriol    52        130          89      normal
5  Carlos    65        125          89      normal
6    Pepe    70        130          92        alta

APUNTES ADICIONALES

In [1]:
s = '*' * 50
print(s)

**************************************************

In [ ]:
for i in range(2, 12): # range hace que el for sea desde la posición 2 hasta la 11

n=2
while n<12: # hace la misma función que el for
    n+=1

# EJEMPLO
r = 100
s = 0
cont = 3
while cont <= r:
    s = s + cont
    cont += 4

#Ahora el for
s=0
n=100
for cont in range(3, n+1, 4): #El 3 hace que empecemos en el 3 (cont=3) 4 hace que la variable del for vaya de 4 en 4 (cont+=4)
    s=s+cont
    print(cont)

In [8]:
#Realizar una operación en una lista a partir de cierto índice
lst=[1, 2,3,4,5,65,67,76,65]
i=sum(lst[3:])
print(i)

282